//Пример подключения 

/*
@font-face {
    font-family: 'Medium';
    src: url('./fonts/Stolzl-Medium.woff2') format('woff2'),
         url('./fonts/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
*/