@font-face {
    font-family: 'Medium';
    src: url('./fonts/Stolzl-Medium.woff2') format('woff2'),
         url('./fonts/Stolzl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/Stolzl-Regular.woff2') format('woff2'),
         url('./fonts/Stolzl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Header';
    src: url('./fonts/SFProText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HeaderSemibold';
    src: url('./fonts/SFProText-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
